

/*---- the main ----*/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}

button,
button:active,
button:focus {
	outline: none;
	cursor: pointer;
}

.container {
	max-width: 800px;
	margin: 0 auto
}

.js {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.block {
	border: solid 1px black;
	padding: 20px;
	margin: 30px;
	overflow: hidden;
}

div h1 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}


/*---- text ----*/


.warning {
	color: red;
	font-size: 20px;
}


/*---- modal window ----*/

.modal__wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	display: none;
}

.modal__body {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

.modal__window {
	background: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 6px;
}

.modal {
	width: 70%;
	min-height: 200px;
	position: fixed;
	background: white;
	border: solid 1px #ccc;
	z-index: 5;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	top: 200px;
}

.close {
	font-size: 40px;
	font-weight: 800;
	cursor: pointer;
	float: right;
	position: absolute;
	right: 15px;
	top: 10px;
}

.modal__content p {
	font-size: 19px;
	margin: 50px;
}


/*---- tabs ----*/


.tabs__nav {
	display: flex;
	justify-content: space-between;
}

.tab {
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	z-index: 5;
	padding: 20px;
	border-bottom: 1px solid transparent;
	flex: 1;
}

.tab:hover {
	opacity: 0.6;
}

.tab.is-active {
	border-color: green;
}

.tab__content {
	background-color: #f2f2f2;
	padding: 20px;
	display: none;
}

.tab__content.is-active {
	display: block;
}


/*---- slider ----*/


.slider {
	width: 70px;
	position: relative;
	height: 70px;
	margin: 30px auto;
}

.slider__field {
	width: 70px;
	height: 70px;
	position: absolute;
	overflow: hidden;
}

.slider__field img{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: 10px;
	display: none;
	transition: all ease 1s;
}

.slider__field .opacity {
	display: block;
}

.btn__slider {
	text-align: center;
}

.btn__slider button {
	margin: 0 20px;
	font-size: 30px;
	background: none;
	border: solid 1px black;
	cursor: pointer;
}


/*---- calculator ----*/


.calculator {
	text-align: center;
	border: solid 2px black;
	max-width: 400px;
	margin: 0 auto;
	min-height: 450px;
	border-radius: 30px;
}

.calc__field {
	min-height: 50px;
	width: 80%;
	font-size: 25px;
	margin-top: 40px;
	border: solid 2px black;
	padding: 0 20px;
	text-align: right;
}

.calc__btn {
	padding: 20px 0px;
	max-width: 300px;
	margin: 0 auto;
}

.calc__btn button {
	padding: 15px 20px;
	background: none;
	border: solid 2px black;
	font-size: 20px;
	cursor: pointer;
	font-weight: 700;
	margin: 5px 0px;
}

.calc__btn button:hover {
	color: white;
	background: black;
}

.calculator p {
	font-size: 20px;
	position: relative;
	bottom: 10px;
}


/*---- css generator ----*/


.gen__block {
	background: green;
	width: 200px;
	height: 200px;
}


/*---- collapse ----*/


.collapse__btn {
	background: none;
	padding: 15px 0px;
	width: 100%;
	font-size: 20px;
	border: solid 2px black;
	cursor: pointer;
}

.collapse__active,
.collapse__btn:hover {
	background-color: black;
	color: white;
}

.collapse__content {
	font-size: 17px;
	background-color: #f2f2f2;
	position: relative;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}


/*---- to do list ----*/


.ToDo__text {
	width: 100%;
	height: 50px;
	font-size: 30px;
}

.ToDo__text:focus {
	border: solid 1px black;
}

.ToDo__add {
	width: 100%;
	padding: 15px;
	font-size: 20px;
	color: white;
	font-weight: 600;
	background-color: #6ded6b;
	border: solid 1px #6ded6b;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
	outline: none;
}

.ToDo__add:hover {
	background-color: #7ef77c;
	border: solid 1px #7ef77c;
	font-size: 25px;
}

.ToDo__list {
	width: 100%;
}

.ToDo__list p {
	border: solid 1px #b3b4b5;
	padding: 15px 20px;
	font-size: 25px;
	margin: -2px 0px;
}

.check__list {
	text-decoration: line-through;
	color: #a8a8a8;
}

.ToDo__clear {
	width: 100%;
	font-size: 18px;
	padding: 10px;
	color: white;
	font: 600px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
	background-color: #ff4f14;
	border: solid 1px #ff4f14;
	outline: none;
}

.ToDo__clear:hover {
	font-size: 19px;
	background-color: #d14c43;
}

.ToDo__hide {
	width: 100%;
	background: none;
	font-size: 18px;
	border: solid 1px #b3b4b5;
	letter-spacing: 2px;
	cursor: pointer;
	outline: none;
}

.ToDo__hide:hover {
	background-color: #b3b4b5;
}

.list__text {
	font-size: 30px;
	font-weight: 700;
	padding: 0 10px;
}

.hide {
	display: none;
}

/*----- sidebar -----*/

.sidebar {
	position: relative;
	background: #57626f;
	height: 300px;
	overflow: hidden;
	width: 200px;
	border-right: solid 2px red;
	right: 250px;
	transition: 1s;
}

.toggle {
	font-size: 20px;
	cursor: pointer;
	color: white;
	background: red;
	border: solid 1px red;
	z-index: 10;
	position: absolute;
}

.toggle:hover {
	background: rgb(255, 73, 73);
}

.menu__list {
	position: relative;
	top: 20px;
}

.menu__list li {
	list-style-type: none;
	margin-top: 20px;
}

.menu__list li a {
	color: black;
	text-decoration: none;
}

.menu__list li a:hover {
	background: yellow;
	padding: 10px;
}

.open-menu {
	right: 0;
	transition: 1s;
}


/*----- Hamburger menu -----*/

.hamburger {
	background: green;
	width: 50px;
	height: 48px;
	margin: 30px auto;
	cursor: pointer;
	position: relative;
}

.hamburger:hover {
	background: rgb(47, 182, 47);
}

.hamburger::after {
	content: "";
	position: absolute;
	background: white;
	width: 40px;
	height: 4px;
	left: 5px;
	top: 10px;
	transition: 1s;
}

.hamburger span {
	content: "";
	position: absolute;
	background: white;
	width: 40px;
	height: 4px;
	left: 5px;
	top: 20px;
	transition: 1s;
}

.hamburger::before {
	content: "";
	position: absolute;
	background: white;
	width: 40px;
	height: 4px;
	left: 5px;
	top: 30px;
	transition: 1s;
}

.hamburger.burger-open span{
	display: none;
	transition: 1s;
}

.hamburger.burger-open::before {
	transform: rotate(-40deg);
	transition: 1s;
	top: 20px;
}

.hamburger.burger-open::after {
	transform: rotate(40deg);
	transition: 1s;
	top: 20px;
}

/*----- basket -----*/

.basket {
	display: flex;
}

@media screen and (max-width: 520px){
	.basket {
		display: flex;
		flex-direction: column;
	}
}

.price__block {
	border: solid 1px black;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}

.price__block img {
	max-width: 100px;
	height: 100px;
}

.prices {
	border: solid 1px black;
	margin: 20px auto;
	padding: 30px;
}


/*----- owl carousel -----*/

.carousel__container {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}

.carousel__track {
	display: flex;
	transition: all ease 1s;
}

.carousel__track img {
	min-width: 200px;
	height: 200px;
}

.carousel__dots {
	border: solid 1px black;
	max-width: 200px;
	height: 50px;
	margin: 30px auto;
	display: flex;
}

.carousel__dots span {
	width: 30px;
	height: 30px;
	margin: 10px auto;
	border: solid 4px black;
	display: block;
	border-radius: 20px;
	cursor: pointer;
}

.carousel__dots span.active-dot {
	background: black;
}

.carousel__btn {
	text-align: center;
	margin: 10px;
}

.carousel__btn button {
	color: black;
	font-weight: 700;
	font-size: 26px;
	margin: 0 10px;
	background: none;
}